/* button{
  position: absolute;
  left: 50px;
  top: 20px;
&.en{
  left: 100px;
}
}
 */


 nav{
   background-color: rgba(255, 255, 255, 0) !important;
   position: absolute;
   top: 20px;
   right: 50px;
 }

button,
button.active{
  background: rgba(255, 255, 255, 0) !important;
  color: grey !important;
}
